/**
 * General
 */
html {
	scroll-behavior: smooth; 
}

body {
	font-weight: 300;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	background-size: cover;

	> main {
		position: relative;
		background-color: white;
	}

	> footer {
		background-color: $body-bg;

		p {
			padding: ($spacer * 0.5) 0;
			font-size: $font-size-sm;
			color: $body-color;
	
			&:last-of-type {
				margin: 0;
			}
		}
	
		.menu-item {
			a {
				font-size: $font-size-sm;
				color: $body-color;
	
				&[aria-current='page'] {
					color: $link-hover-color;
				}
			}
		}
	}

	@include media-breakpoint-up(lg) {
		padding-top: $spacer;
	}
}

p {
	a {
		display: inline-block;
	}
}

img {
	vertical-align: middle;
}

button {
	* {
		pointer-events: none;
	}
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;

	a {
		font-family: inherit;
		font-weight: inherit;
		font-size: inherit;
	}
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $font-family-serif;
	color: $primary;
}

h1, .h1 {
	line-height: 1.2!important;
}

h2, .h2, h4, .h4 {
	line-height: 1.4!important;
}

a {
	position: relative;
	font-size: inherit!important;

	> .svg-icon {
		fill: $txt;
	}

	&.text-decoration-none {
		&::after {
			display: none;
		}
	}

	&:not(.btn-ldr-primary) {
		&::after {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: $primary;
			left: 0;
			bottom: 0;
			transition: all 200ms ease-in-out;
		}
	}

	&.btn-ldr-primary {
		background-color: $primary;
		color: $white;

		&:hover {
			background-color: $secondary;
			color: $white;
		}
	}

	&.alert-edit-link {
		&::after {
			display: none!important;
		}
	}

	&:hover {
		color: inherit;

		&::after {
			width: 20%;
		}

		> .svg-icon {
			fill: $secondary;
		}
	}
}

button,
a {
	&.btn {
		&.btn-ldr-primary {
			color: $white;
			background-color: $primary;
			border-color: $primary;
			box-shadow: none;

			&:hover {
				background-color: $secondary;
				color: $white;
				border-color: $secondary;
				box-shadow: none;
			}

			&:focus,
			&:active {
				color: $white;
				background-color: #{shade-color($secondary, 30%)};
				border-color: #{shade-color($secondary, 30%)};
				box-shadow: none;
			}
		}
	}
}

ul {
	padding-left: 1.2rem;
}

main {
	.entry-content {
		ul {
			padding-left: 2.5rem!important;
			list-style-type: none;

			> li {
				position: relative;
				margin-bottom: 0.3rem;
		
				&::before {
					content: '';
					position: absolute;
					display: block;
					left: -28px;
					top: 3px;
					width: 20px;
					height: 20px;
					background-color: transparent;
					background-image: url('../../../assets/img/ldr-bullet-point.png');
					background-position: center;
					background-repeat: no-repeat;
					background-size: 70%;
				}
			}
		}

		ol {
			list-style-type: decimal!important;
			
			> li {
				margin-bottom: 0.3rem;
				
				&::before {
					display: none!important;
				}
			}
		}
	}
}

// Theme specific styles

.ldr {
	&-block {
		position: relative;
		margin-bottom: $spacer;

		&.aligncenter {
            max-width: 960px;
        }

		&.alignfull,
		&.alignwide {
			width: calc(100vw - 15px);
			left: 50%;
			transform: translateX(-50%);
		}

		@media screen and (min-width: 1615px) {
			&.alignwide {
				width: 1600px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}

.color-overlay {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.grecaptcha-badge {
	visibility: hidden!important;
}

// Mixins & functions

@each $name, $color in $theme-colors {
	.bg-#{$name} {
		background-color: $color!important;
	}

	.text-#{$name} {
		color: $color!important;
	}

	.border-#{$name} {
		border-color: $color!important;
	}

	.btn-#{$name} {
		background-color: $color!important;
	}
}

@each $name, $size in $typography-sizing {
	.has-#{$name}-font-size {
		font-size: $size!important;
	}
}

// Preview

.acf-block-preview {
	.ldr-block {
		&.aligncenter {
            max-width: 960px;
        }

		&.alignfull,
		&.alignwide {
			width: calc(100vw - 15px);
			left: 50%;
			transform: translateX(-50%);
		}

		@media screen and (min-width: 1900px) {
			&.alignwide {
				width: 1600px;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}
