/**
 * Block: Pull Quote
 *
 */

@import '../../scss/foundation/bootstrap-core';

.ldr-pull-quote {
    position: relative;
    max-width: 960px;
    margin: $spacer * 3 auto;
    padding: $spacer * 2 0;
    font-family: $font-family-serif;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 150px;
        height: 2px;
        top: 0;
        left: 0;
        background-color: $primary;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 50px;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $primary;
    }

    > small {
        display: block;
        margin-top: $spacer;
    }
}