/**
 * Block: Card
 *
 */

@import '../../scss/foundation/bootstrap-core';
@import '../../scss/core/theme';

.ldr-card {
    .card {
        overflow: hidden;
        
        .card-image {
            position: relative;
            background-color: $gray-300;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 240px;
            width: 100%;
            overflow: hidden;
        }
    }
}

.acf-block-preview {
    .ldr-card {
        .card {
            padding: 0;
            margin-top: 0;
            max-width: none;
        }
    }
}

@include media-breakpoint-up(md) {
    .ldr-card {
        .card {
            .card-image {
                height: 320px;
            }
        }
    }
}