/**
 * Block: Post Slider
 *
 */

@import '../../scss/foundation/bootstrap-core';
@import '../../scss/plugins/glide';

.ldr-post-slider {
    position: relative;
    @extend %glide-core;

    &.arrow-navigation-off {
        .glide {
            padding-right: 0!important;
            padding-left: 0!important;
        }
    }

    .ldr-block {
        .card {
            background-color: transparent !important;
        }
    }
}

.acf-block-preview {
    .ldr-post-slider {
        position: relative;
        @extend %glide-core;

        .ldr-block {
            .card {
                height: 100%!important;
                background-color: transparent !important;
            }
        }
    }
}
